# /lib/systemd/system/sysstat-collect.timer
# (C) 2014 Tomasz Torcz <tomek@pipebreaker.pl>
#
# sysstat-12.6.1 systemd unit file:
#        Activates activity collector every 5 minutes

[Unit]
Description=Run system activity accounting tool every 5 minutes

[Timer]
OnCalendar=*:00/5

[Install]
WantedBy=sysstat.service
